/csbuild
/csbuild-*/Makefile
/csbuild-*/README
/csbuild-*/cscppc/
/csbuild-*/csdiff/
/csbuild-*/csmock/
/csbuild-*/cswrap/
/csbuild-*/debian/csbuild.debhelper.log
/csbuild-*/debian/csbuild.substvars
/csbuild-*/debian/csbuild/
/csbuild-*/debian/files
/csbuild_*-1.debian.tar.gz
/csbuild_*-1.dsc
/csbuild_*-1_amd64.build
/csbuild_*-1_amd64.changes
/csbuild_*-1_amd64.deb
/csbuild_*.orig-cscppc.tar.gz
/csbuild_*.orig-csdiff.tar.gz
/csbuild_*.orig-csmock.tar.gz
/csbuild_*.orig-cswrap.tar.gz
/csbuild_*.orig.tar.gz
/last_operation.log
