/csbuild
/csbuild-*/Makefile
/csbuild-*/README
/csbuild-*/cscppc/
/csbuild-*/csdiff/
/csbuild-*/csmock/
/csbuild-*/cswrap/
/csbuild-*/debian/csbuild.debhelper.log
/csbuild-*/debian/csbuild.substvars
/csbuild-*/debian/csbuild/
/csbuild-*/debian/files
/csbuild_*-*.debian.tar.gz
/csbuild_*-*.dsc
/csbuild_*-*_amd64.build
/csbuild_*-*_amd64.changes
/csbuild_*-*_amd64.deb
/csbuild_*.orig-cscppc.tar.gz
/csbuild_*.orig-csdiff.tar.gz
/csbuild_*.orig-csmock.tar.gz
/csbuild_*.orig-cswrap.tar.gz
/csbuild_*.orig.tar.gz
/cppcheck-*/
/cppcheck_*.orig.tar.gz
/cppcheck_*-*.debian.tar.gz
/cppcheck_*-*.debian.tar.xz
/cppcheck_*-*.dsc
/cppcheck_*-*_amd64.build
/cppcheck_*-*_amd64.changes
/cppcheck_*-*_amd64.deb
/last_operation.log
